; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[env:nodemcu-32s]
platform = espressif32
board = nodemcu-32s
framework = arduino
monitor_speed = 115200
board_build.filesystem = littlefs
lib_deps = 
	gyverlibs/FastBot2@^1.0.1
	gyverlibs/GyverDB@^1.1.0
    gyverlibs/FileData@^1.0.2
    paulstoffregen/OneWire@^2.3.8
    milesburton/DallasTemperature@^3.11.0
    olikraus/U8g2@^2.35.30
	SPI
    Wire
build_unflags = -std=gnu++11
build_flags = 
    -D WIFI_SSID=""
    -D WIFI_PASSWORD=""
    -D TELEGRAM_BOT_TOKEN=""
    -D RELAY_COUNT=0
    -D TEMPERATURE_COUNT=0
    -D FUNCTION_COUNT=0
    -D NTP_SERVER="pool.ntp.org"
	-D NTP_OFFSET=0
	-D NTP_DAYLIGHT_OFFSET=0
    -D REGISTER_PHRASE=""
    -D RELAY_PINS={26,27}
    -D RELAY_TRIGGER={0,0,0,0}
    -D TEMPERATURE_PIN=19
    -D OLED_SDA 21
	-D OLED_SCL 22
    -std=gnu++2a
